body{
  margin: 0;
    background: no-repeat;
    background-color: black;
    color: white;
   
}
.backimg{
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: black;
  position: relative;
  background: linear-gradient(rgb(36 32 32 / 50%), rgb(26 1 1 / 50%)), url(images/img1.jpg);
}

.backimg{
  height: 750px;
  width: 100%;
}
.backimg img{
  width: 135px;
  
}

.backimg button{
    width: 80px;
    cursor: pointer;
    height: 35px;
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    border: 0;
    border-color: red;
}
.backimg button:hover{
    background-color: transparent;
}
.main{
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 535px;
}

.main::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.70;

}
.main h1{
    font-size: 55px;
    font-style:normal;
    height: 12px;
}
.main h3{
    font-size: 25px;
}
.main p{
  margin-top: -5px;
  font-size: 25px;
}
.input{
    display: flex;
    justify-content: center;
}
.input input{
    width: 300px;
    height: 50px;
    border: white;
    font-size: 22px;
    border-radius: 4px;
    background-color: rgb(206, 178, 178);
    font-size: large;
    margin: 5px;
}
.input button{
    width: 150px;
    height: 52px;
    background-color: red;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    margin: 5px;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 100px; */
    /* margin-top: 0px; */
    padding: 60px 150px 60px 150px;
    /* margin-left: -20px; */
    border-top: 5px solid rgb(37, 37, 37);
}
.first h1{
    font-size: 50px;
    margin-top: 170px;

}
.first p{
    font-size: 30px;
}
.first img{
  width: 40%;
}

.second{
    padding: 60px;
    border-top: 5px solid rgb(37, 37, 37);
}
.second h1{
    font-size: 50px;
    margin-top: 60px;
    margin-left: 120px; 
}
.second p{
    font-size: 25px;
    margin-left: 120px; 
}
.button{
  border-top: 5px solid rgb(37, 37, 37);
}
.button h1{
    text-align: center;
    margin-top: 70px;
    font-size: 55px;
}
.button button{
    width: 1425px;
    height: 85px;
    background-color: #302929;
    color: white;
    font-size: 20px;
    /* margin-left: 212px; */
    text-align: left;
    margin: 5px;
}
.button button:hover{
  background-color: #646060;
} 
.button img{
  align-items: end;
}

.collapsible {
  background-color:#302929;
  color: white;
  cursor: pointer;
  width: 875px;
  border: none;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  width: 1425px;
  font-size: 24px;
  text-align: center;
  display: none;
  overflow: hidden;
  background-color: #514f4f;
  margin-top: -5px;
  margin-bottom: 5px;
}
.content p{
  padding-top: -2%;
}
.Mail p {
  text-align: center;
  font-size: 20px;
}
.last-input{
  display: flex;
  justify-content: center;
}
.last-input input{
  width: 300px;
    height: 50px;
    border: white;
    font-size: 22px;
    border-radius: 4px;
    background-color: rgb(181 163 163);
    font-size: large;
    margin: 5px;
}
.last-input button{
  width: 150px;
  height: 52px;
  background-color: red;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  margin: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 44px;
    border-top: 5px solid rgb(37, 37, 37);
    margin-top: 53px;
}
.footer p{
    text-decoration: underline;
}


/* Add a media query */
@media only screen and (min-width: 375px) and (max-width: 786px) {


  .first {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .first img {
    order: 2;
  }
  .first img {
    width: 115%;
  }
  .first .text {
    order: 1;
    text-align: center;
  }
  .first h1{
    font-size: 2rem;
  margin-top: 20px;
  font-weight: 700;
  }
  .first p{
  
    font-size: 18px;
    font-weight: 400;
  }
  .second h1{
    font-size: 2rem;
    margin-left: -5px;
  }
  .second p{
    font-size: 20px;
    text-align: center;
    margin-left: -5px;
  }

  /* Footer adjustments */
  .footer {
    flex-direction: column;
    padding: 20px;
    color: rgb(255,255,255);
  }
  .footer .list {
    margin-bottom: 5px;
  }
  .button{
    margin: 18px;
  }
  .button h1 {
    font-size: 226%;
    margin-top: 50px;
    font-weight: 700;
  }
  .button button {
    width: 100%;
    margin-left: 0;
    margin: 5px;
    height: 80px;
  }
  .content{
    display: block;
    width: 100%;
    text-align: start;
    display: none;
    overflow: hidden;
  }
  .content p{
    margin-left: 16px;
    font-size: 20px;
  }
  .backimg {
    height: 500px;
  }
  .backimg img {
    width: 100px;
    margin-right: 155px;
    margin-left: -185px;
  }
  .backimg button{
    margin-right: -160px;
    font-size: 16px;
  }
  .main {
    height: 395px;
    padding: 20px;
  }
  .main h1 {
    font-size: 35px;
    height: 58px;
  }

  .main h3 {
    font-size: 20px;
  }

  .main p {
    font-size: 23px;
  }
  .input {
    display: flex;
    flex-direction: column;
}

  .input input {
    width: 250px;
    height: 40px;
  }

  .input button {
    width: 120px;
    height: 42px;
    font-size: 20px;
    margin-left: 75px;
  }
  .Mail p {
    text-align: center;
    font-size: 24px;
  }
  .last-input{
    display: flex;
    flex-direction: column;
  }
  .last-input input{
    width: 300px;
      height: 50px;
      border: white;
      font-size: 22px;
      border-radius: 4px;
      background-color: rgb(181 163 163);
      font-size: large;
      margin: 5px;
  }
  .last-input button{
    width: 150px;
    height: 48px;
    background-color: #e30d0d;
    color: white;
    font-size: 25px;
    border-radius: 4px;
    align-items: center;
    margin-left: 88px;
  }
  
}

